<div class="row  mt-4">
    <div class="col-lg-10 mb-2 mx-auto">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of items;let i = index">
                <div class="row">
                    <div class="col-lg-3">{{ i+1 }}</div>
                    <div class="col-lg-3">
                        <h2>{{item.item_name}}</h2> <strong>{{item.price}}</strong>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-danger btn-sm" (click)="decrementCount($event,item)">-</button>
                         {{ item.count }}
                        <button class="btn btn-success btn-sm" (click)="incrementCount($event,item)">+</button>
                    </div>
                    <div class="col-lg-3">
                        <strong>Total : {{item.total}}</strong>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 mx-auto">
        Grand Total : <strong>{{grandTotal}}</strong>
    </div>
</div>